@using CareLeavers.Web.Models.Content
@model CareLeavers.Web.Models.Content.Card
@inject LinkGenerator LinkGenerator
@inject IHttpContextAccessor HttpContextAccessor;
@{
    var link = "";
    var rel = "";
    var languageCode = HttpContextAccessor.HttpContext?.Request.RouteValues["languageCode"]?.ToString();

    switch (Model.Link)
    {
        case Page p:
            var slug = p.Slug ?? string.Empty;
            link = LinkGenerator.GetPathByAction("GetContent", "Contentful", values: new { slug, languageCode });
            break;
        case PrintableCollection pc:
            var identifier = pc.Identifier ?? string.Empty;
            link = LinkGenerator.GetPathByAction("DownloadPdf", "Print", values: new { identifier, languageCode });
            rel = "nofollow";

            break;

    }

    <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
        <div class="govuk-grid-row split-panel" style="background: #f3f2f1; vertical-align: text-top;">
            <div class="govuk-grid-column-one-half image-column">
                <div class="image-container" style="background-image: url('@Model?.Image?.File?.Url');"></div>
            </div>
            <div class="govuk-grid-column-one-half text-column">
                @if (Model!.Types!.Any())
                {
                    <span class="govuk-caption-l">@Model.Types.FirstOrDefault()</span>
                }
                <h3 class="govuk-heading-l"><a href="@link" rel="@rel" class="govuk-link">@Model.Title</a></h3>
                <p class="govuk-body">@Model.Text</p>
                <p class="govuk-!-margin-bottom-0">
                </p>
            </div>
        </div>
    </div>
}