@using CareLeavers.Web.Models.Content
@model CareLeavers.Web.Models.Content.Card
@inject LinkGenerator LinkGenerator
@inject IHttpContextAccessor HttpContextAccessor;
@{
    var link = "";
    var rel = "";
    var languageCode = HttpContextAccessor.HttpContext?.Request.RouteValues["languageCode"]?.ToString();
    var baseUrl = $"{HttpContextAccessor.HttpContext?.Request.Scheme}://{HttpContextAccessor.HttpContext?.Request.Host}";
    string? fullUrl;

    switch (Model.Link)
    {
        case Page p:
            var slug = p.Slug ?? string.Empty;
            link = LinkGenerator.GetPathByAction("GetContent", "Contentful", values: new { slug, languageCode });
            break;
        case PrintableCollection pc:
            var identifier = pc.Identifier;
            link = LinkGenerator.GetPathByAction("DownloadPdf", "Print", values: new { identifier, languageCode });
            rel = "nofollow";
            break;
    }

    if (!string.IsNullOrEmpty(Model.ExternalLink))
    {
        link = Model.ExternalLink;
    } 

    if (!string.IsNullOrEmpty(link) && !link.StartsWith("http"))
    {
        fullUrl = baseUrl + link;
    }
    else
    {
        fullUrl = link;
    }
}

<div class="dfe-card">
    @if (Model.Image != null)
    {
        <contentful-image asset="@Model.Image" class="full-width-image card-image" alt=""
                          role="presentation"></contentful-image>
    }
    <div class="dfe-card-container">
        <h3 class="govuk-heading-m">
            <a href="@link"
               class="govuk-link govuk-link--no-visited-state dfe-card-link--header dfe-card-link--no-url-after"
               rel="@rel">
                @Model.Title
            </a>
        </h3>
        <p class="govuk-body">@Model.Text</p>
        @if (!string.IsNullOrEmpty(Model.Metadata))
        {
            <p class="govuk-body-s">@Model.Metadata</p>
        }
        @if (!string.IsNullOrEmpty(link))
        {
            <span class="dfe-card-link-print-url govuk-body-s">@fullUrl</span>
        }
    </div>
</div>