@using CareLeavers.Web.Configuration
@using CareLeavers.Web.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CareLeavers.Web.Models.Content.Page

@inject IContentfulConfiguration ContentfulConfiguration

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";

    var pageWidth = Model.Width switch
    {
        PageWidth.TwoThirds => "govuk-grid-column-two-thirds",
        _ => "govuk-grid-column-full"
    };
}

@* add breadcrumbs here, like line 54 *@

@section BeforeGDSContent
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                @Model.Title
            </h1>
            
            @if (Model.Header != null)
            {
                <gds-contentful-rich-text document="@Model.Header"></gds-contentful-rich-text>
            }
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="@pageWidth">
        @if (Model.Type.HasValue)
        {
            <span class="govuk-caption-m">@Model.Type</span>
        }
        @* ShowCOntentBlock *@
        <gds-contentful-rich-text document="@Model.MainContent"></gds-contentful-rich-text>
        @if (Model.Width == PageWidth.FullWidth)
        {
            <partial name="ShareThis" model="Model.ShowShareThis"/>
        }
        
        @if (Model.ShowLastUpdated)
        {
            <hr/>
            <partial name="_LastUpdated" model="@Model"/>
        }
        
    </div>
    @if (Model.Width == PageWidth.TwoThirds)
    {
        <div class="govuk-grid-column-one-third">
            @if (Model.SecondaryContent != null)
            {
                <gds-contentful-rich-text document="@Model.SecondaryContent"></gds-contentful-rich-text>
            }
            <partial name="ShareThis" model="Model.ShowShareThis"/>
        </div>
    }
</div>

@{
    var config = await ContentfulConfiguration.GetConfiguration();
}
@if (Model.ShowFooter && config.Footer != null)
{
    @section AfterGDSContent
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <gds-contentful-rich-text document="@config.Footer"/>
            </div>
        </div>
    }
}
