@using System.Globalization
@using CareLeavers.Web.Configuration
@using CareLeavers.Web.Models.Enums
@using Joonasw.AspNetCore.SecurityHeaders.Csp
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CareLeavers.Web.Models.Content.Page

@inject IContentfulConfiguration ContentfulConfiguration
@inject ICspNonceService CspNonceService


@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
    var config = await ContentfulConfiguration.GetConfiguration();
    var languageCode = Context.Request.RouteValues["languageCode"]?.ToString();

    var pageWidth = Model.Width switch
    {
        PageWidth.TwoThirds => "govuk-grid-column-two-thirds",
        _ => "govuk-grid-column-full"
    };
}
@section Head
{
    <meta property="og:site_name" content="@config.ServiceName"/>
    <meta property="og:title" content="@(!string.IsNullOrEmpty(Model.SeoTitle) ? Model.SeoTitle : Model.Title)"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="@Url.Action(
                                         action: "GetContent",
                                         controller: "Contentful",
                                         protocol: "https",
                                         values: new { slug = Model.Slug, language = languageCode }
                                     )"/>
    @if (Model.SeoImage != null)
    {
        <meta property="og:image" content="@Model.SeoImage.File.Url"/>
        <meta property="og:image:type" content="@Model.SeoImage.File.ContentType"/>
        <meta property="og:image:width" content="@Model.SeoImage.File.Details.Image.Width"/>
        <meta property="og:image:height" content="@Model.SeoImage.File.Details.Image.Height"/>
        <meta property="og:image:alt" content="@Model.SeoImage.Description"/>
    }
    <meta property="og:locale" content="@(languageCode == "en" ? "en_GB" : languageCode)"/>
    @if (!string.IsNullOrEmpty(Model.SeoDescription))
    {
        <meta property="og:description" content="@Model.SeoDescription"/>
    }

    <link rel="canonical" href="@Url.Action(
                                    action: "GetContent",
                                    controller: "Contentful",
                                    protocol: "https",
                                    values: new { slug = Model.Slug, language = "en" }
                                )"/>

}

@section BeforeGDSContent
{
    <partial name="Breadcrumbs" model="@Model"/>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                @Model.Title
            </h1>
            
            @if (Model.Header != null)
            {
                <gds-contentful-rich-text document="@Model.Header" larger-text="true"></gds-contentful-rich-text>
            }
        </div>
    </div>
}

<div class="govuk-grid-row" data-last-fetched="@Model.Fetched.ToString("s", CultureInfo.InvariantCulture)">
    <div class="@pageWidth">
        @if (Model.Type.HasValue)
        {
            <span class="govuk-caption-m">@Model.Type</span>
        }
        @if (Model.ShowContentsBlock)
        {
            <gds-contentful-contents document="@Model.MainContent" levels="@Model.ContentsHeadings"/>
        }
        <gds-contentful-rich-text document="@Model.MainContent"></gds-contentful-rich-text>
        
        <partial name="LastUpdated" model="@Model"/>
        
        <partial name="Shareaholic" model="Model"/>
    </div>
    @if (Model.Width == PageWidth.TwoThirds)
    {
        <div class="govuk-grid-column-one-third">
            &nbsp;
        </div>
        <div class="govuk-grid-column-full">
            @if (Model.SecondaryContent != null)
            {
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <gds-contentful-rich-text document="@Model.SecondaryContent"></gds-contentful-rich-text>
            }
        </div>
    }
</div>


@if (Model.ShowFooter && config.Footer != null)
{
    @section AfterGDSContent
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <gds-contentful-rich-text document="@config.Footer"/>
            </div>
        </div>
    }
}

@section Scripts
{
    @if (Model.ShowShareLinks)
    {
        <script asp-add-nonce="true" defer>
            const printPage  = () => window.print();

            const addPrintButtonEventListener  = () => {
                const printButton = document.getElementById("print-link");

                if (!printButton) {
                    return;
                }

                printButton.addEventListener('click', printPage);

            }

            addPrintButtonEventListener();
        </script>
    }
}
