@using CareLeavers.Web.Configuration
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.Extensions.Options

@inject IContentfulConfiguration ContentfulConfiguration
@inject IOptions<CookiePolicyOptions> CookiePolicyOptions

@{
    var ops = CookiePolicyOptions.Value;
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    
    var consentCookie = Context.Request.Cookies[ops.ConsentCookie.Name];
    
    var showBanner = consentCookie == null;
    var acceptCookieString = consentFeature?.CreateConsentCookie() ?? string.Empty;
    var rejectCookieString = acceptCookieString.Replace("yes", "no");
    var config = await ContentfulConfiguration.GetConfiguration();
}

@if (showBanner)
{
    <div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on @config.ServiceName" id="cookie-container">
        <div class="govuk-cookie-banner__message govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-cookie-banner__heading govuk-heading-m">
                        Cookies on @config.ServiceName
                    </h2>
                    <div class="govuk-cookie-banner__content">
                        <p class="govuk-body">We use some essential cookies to make this service work.</p>
                        <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
                    </div>
                </div>
            </div>
            <div class="govuk-button-group">
                <button type="button" class="govuk-button" data-module="govuk-button" data-cookie-string="@acceptCookieString" id="accept-cookie">
                    Accept analytics cookies
                </button>
                <button type="button" class="govuk-button" data-module="govuk-button" data-cookie-string="@rejectCookieString" id="reject-cookie">
                    Reject analytics cookies
                </button>
                @Html.ActionLink("View cookies", "CookiePolicy", "Pages", null, new { @class = "govuk-link" })
            </div>
        </div>
    </div>
    
    @* <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert"> *@
    @*     Use this space to summarize your privacy and cookie use policy. <a asp-page="/Privacy">Learn More</a>. *@
    @*     <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString"> *@
    @*         <span aria-hidden="true">Accept</span> *@
    @*     </button> *@
    @* </div> *@
    <script asp-add-nonce="true">
        (function () {
            var acceptCookieButton = document.querySelector("#accept-cookie");
            acceptCookieButton.addEventListener("click", function (event) {
                gtag('consent', 'update', {
                    'analytics_storage': 'granted'
                });
                document.cookie = acceptCookieButton.dataset.cookieString;
                window.clarity('consent');
				var cookieContainer = document.querySelector("#cookie-container");
				cookieContainer.remove();
            }, false);
            
            var rejectCookieButton = document.querySelector("#reject-cookie");
            rejectCookieButton.addEventListener("click", function (event) {
                gtag('consent', 'update', {
                    'analytics_storage': 'denied'
                });
                document.cookie = rejectCookieButton.dataset.cookieString;
                window.clarity('consent', false);
                var cookieContainer = document.querySelector("#cookie-container");
                cookieContainer.remove();
            }, false);
        })();
    </script>
}