@using CareLeavers.Web.Configuration
@using Microsoft.Extensions.Options
@model CareLeavers.Web.Models.ViewModels.ConfigViewModel

@inject IWebHostEnvironment WebHostEnvironment
@inject IOptions<ScriptOptions> ScriptOptions

@{
    var languageCode = Context.Request.RouteValues["languageCode"]?.ToString();
}

@if (!WebHostEnvironment.IsProduction())
{
    <div class="environment-banner">
        <div class="govuk-body-s"><strong>ATTENTION!</strong> This is the <strong>@WebHostEnvironment.EnvironmentName</strong> version of @Model.ContentfulConfiguration.ServiceName website.</div>
    </div>
}

@if (ScriptOptions.Value.ShowCookieBanner && !Model.IsError)
{
    <partial name="_CookieConsentPartial" model="@Model"/>
}

<div class="govuk-width-container">
    <div class="govuk-phase-banner">
        <div class="govuk-phase-banner__content">
            <strong class="govuk-phase-banner__content__tag govuk-tag">
                @Model.ContentfulConfiguration.Phase.ToString()
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service.
                @if (!string.IsNullOrEmpty(Model.ContentfulConfiguration.FeedbackText) && Model.ShowNavigation)
                {
                    <text>
                        Help us improve it and <a class="govuk-link" href="@Model.ContentfulConfiguration.FeedbackUrl" target="_blank" rel="nofollow">
                            @Model.ContentfulConfiguration.FeedbackText (opens in new tab)</a>. 
                    </text>
                }
            </span>
            @if (Model.ContentfulConfiguration.TranslationEnabled && Model.ShowLanguage)
        {
            var currentSlug = ViewContext.RouteData.Values["slug"]?.ToString() ?? Model.ContentfulConfiguration.HomePage?.Slug;
            var currentLanguage = ViewContext.RouteData.Values["languageCode"]?.ToString() ?? "en";
            var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
            var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
            <div class="translate">

                @switch (currentController)
                {
                    case "Contentful" when currentLanguage != "en":
                        @Html.ActionLink(Model.Language.NativeName,
                            "GetContent",
                            "Contentful",
                            new { slug = currentSlug, languageCode = "en" },
                            new { @class = "govuk-link", rel = "nofollow", hreflang = "en" })
                        break;
                    case "Pages" when currentLanguage != "en":
                        @Html.ActionLink(Model.Language.NativeName,
                            currentAction,
                            "Pages",
                            new { languageCode = "en" },
                            new { @class = "govuk-link", rel = "nofollow", hreflang = "en" })
                        break;
                    case "Pages":
                        @Html.ActionLink(Model.Language.NativeName,
                            "Page",
                            "Translation",
                            new { page = currentAction },
                            new { @class = "govuk-link", rel = "nofollow" })
                        break;
                    default:
                        @Html.ActionLink(Model.Language.NativeName,
                            "Index",
                            "Translation",
                            new { slug = currentSlug },
                            new { @class = "govuk-link", rel = "nofollow" })
                        break;
                }
            </div>
        }
        </div>
    </div>
</div>

@if (SiteConfiguration.Rebrand)
{
    <header class="govuk-header" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a class="govuk-header__link govuk-header__link--homepage" href="@Url.Action("GetContent", "Contentful", values: new { slug = Model.ContentfulConfiguration.HomePage?.Slug, languageCode })" aria-label="@Model.ContentfulConfiguration.ServiceName homepage">
                    <img src="/assets/department-for-education_white.png" alt="@Model.ContentfulConfiguration.ServiceName homepage" class="govuk-header__logotype">
                </a>
            </div>
        </div>
    </header>
}
else
{
    <header class="dfe-header" role="banner">
        <div class="dfe-width-container dfe-header__container">
            <div class="dfe-header__logo">
                <a class="dfe-header__link dfe-header__link--service " href="@Url.Action("GetContent", "Contentful", values: new { slug = Model.ContentfulConfiguration.HomePage?.Slug, languageCode })" aria-label="@Model.ContentfulConfiguration.ServiceName homepage">
                    <img src="~/assets/dfe-logo.png" class="dfe-logo" alt="@Model.ContentfulConfiguration.ServiceName homepage">
                    <img src="~/assets/dfe-logo-alt.png" class="dfe-logo-hover" alt="@Model.ContentfulConfiguration.ServiceName homepage">
                </a>
            </div>
        </div>
    </header>
}
@if (Model is { IsError: false, ShowNavigation: true })
{ 
    await Html.RenderPartialAsync("Navigation", Model);
}
else
{
    await Html.RenderPartialAsync("ServiceName", Model.ContentfulConfiguration.ServiceName);

}