@using CareLeavers.Web.Configuration
@using Microsoft.Extensions.Options
@model CareLeavers.Web.Models.ViewModels.ConfigViewModel

@inject IWebHostEnvironment WebHostEnvironment
@inject IOptions<ScriptOptions> ScriptOptions

@{
    var languageCode = Context.Request.RouteValues["languageCode"]?.ToString();
}

@if (!WebHostEnvironment.IsProduction())
{
    <div class="environment-banner">
        <div class="govuk-body-s"><strong>ATTENTION!</strong> This is the <strong>@WebHostEnvironment.EnvironmentName</strong> version of @Model.ContentfulConfiguration.ServiceName website.</div>
    </div>
}

@if (ScriptOptions.Value.ShowCookieBanner && !Model.IsError)
{
    <partial name="_CookieConsentPartial" model="@Model"/>
}

@if (SiteConfiguration.Rebrand)
{
    <header class="govuk-template__header">
        @await Html.PartialAsync("_PhaseBanner", Model)
        <div class="govuk-header" data-module="govuk-header">
            <div class="govuk-header__container govuk-width-container">
                <div class="govuk-header__logo">
                    <a class="govuk-header__link govuk-header__link--homepage" href="@Url.Action("GetContent", "Contentful", values: new { slug = Model.ContentfulConfiguration.HomePage?.Slug, languageCode })" aria-label="@Model.ContentfulConfiguration.ServiceName homepage">
                        <img src="/assets/department-for-education_white.png" alt="@Model.ContentfulConfiguration.ServiceName homepage" class="govuk-header__logotype">
                    </a>
                </div>
            </div>
        </div>
    </header>
}
else
{
    <header class="dfe-header" role="banner">
        @await Html.PartialAsync("_PhaseBanner", Model)
        <div class="dfe-width-container dfe-header__container">
            <div class="dfe-header__logo">
                <a class="dfe-header__link dfe-header__link--service " href="@Url.Action("GetContent", "Contentful", values: new { slug = Model.ContentfulConfiguration.HomePage?.Slug, languageCode })" aria-label="@Model.ContentfulConfiguration.ServiceName homepage">
                    <img src="~/assets/dfe-logo.png" class="dfe-logo" alt="@Model.ContentfulConfiguration.ServiceName homepage">
                    <img src="~/assets/dfe-logo-alt.png" class="dfe-logo-hover" alt="@Model.ContentfulConfiguration.ServiceName homepage">
                </a>
            </div>
        </div>
    </header>
}
@if (Model is { IsError: false, ShowNavigation: true })
{ 
    await Html.RenderPartialAsync("Navigation", Model);
}
else
{
    await Html.RenderPartialAsync("ServiceName", Model.ContentfulConfiguration.ServiceName);

}