@using CareLeavers.Web.Configuration
@using Microsoft.Extensions.Options
@model CareLeavers.Web.Models.ViewModels.ConfigViewModel

@inject IWebHostEnvironment WebHostEnvironment
@inject IOptions<ScriptOptions> ScriptOptions

@if (!WebHostEnvironment.IsProduction())
{
    <div class="environment-banner">
        <div class="govuk-body-s"><strong>ATTENTION!</strong> This is the <strong>@WebHostEnvironment.EnvironmentName</strong> version of @Model.ContentfulConfiguration.ServiceName website.</div>
    </div>
}

@if (ScriptOptions.Value.ShowCookieBanner)
{
    <partial name="_CookieConsentPartial" model="@Model"/>
}

<div class="govuk-width-container">
    <div class="govuk-phase-banner govuk-header--full-width-border">
        @if (Model.ContentfulConfiguration.TranslationEnabled)
        {
            <p class="translate">
                @Html.ActionLink(Model.Language.NativeName, "Index", "Translation", null, new { @class = "govuk-link", rel="nofollow" })
            </p>
        }
        <div class="govuk-phase-banner__content">
            <strong class="govuk-phase-banner__content__tag govuk-tag">
                @Model.ContentfulConfiguration.Phase.ToString()
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service.
                @if (!string.IsNullOrEmpty(Model.ContentfulConfiguration.FeedbackText))
                {
                    <text>
                        Your <a class="govuk-link" href="@Model.ContentfulConfiguration.FeedbackUrl" rel="nofollow">@Model.ContentfulConfiguration.FeedbackText</a> will help us to improve it.
                    </text>
                }
            </span>
        </div>
    </div>
</div>

<header class="dfe-header" role="banner">
    <div class="dfe-width-container dfe-header__container">
        <div class="dfe-header__logo">
            <a class="dfe-header__link dfe-header__link--service " href="~/" aria-label="@Model.ContentfulConfiguration.ServiceName homepage">
                <img src="~/assets/dfe-logo.png" class="dfe-logo" alt="@Model.ContentfulConfiguration.ServiceName homepage">
                <img src="~/assets/dfe-logo-alt.png" class="dfe-logo-hover" alt="@Model.ContentfulConfiguration.ServiceName homepage">
            </a>
        </div>
        <div class="dfe-header__content" id="content-header">
            
        </div>
    </div>
    <div class="dfe-width-container dfe-header__service-name">
        @Model.ContentfulConfiguration.ServiceName
    </div>
    @{ await Html.RenderPartialAsync("Navigation", Model); }
</header>
