@using System.Globalization
@using CareLeavers.Web.Configuration
@using GovUk.Frontend.AspNetCore
@using GovUk.Frontend.AspNetCore.TagHelpers
@using Joonasw.AspNetCore.SecurityHeaders.Csp
@using Joonasw.AspNetCore.SecurityHeaders.TagHelpers
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options

@inject IWebHostEnvironment WebHostEnvironment
@inject ICspNonceService CspNonceService
@inject IContentfulConfiguration ContentfulConfiguration
@inject IOptions<ScriptOptions> ScriptOptions

@{
    var config = await ContentfulConfiguration.GetConfiguration();
    var scriptConfig = ScriptOptions.Value;
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>() ?? throw new NullReferenceException();
}

<!DOCTYPE html>
<html class="govuk-template" lang="en">

<head>
    @if (WebHostEnvironment.IsEnvironment("Test") && !string.IsNullOrEmpty(scriptConfig.GTM))
    {
        <script asp-add-nonce="true">
            // Define dataLayer and the gtag function.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
        
            // Set default consent to 'denied' as a placeholder
            // Determine actual values based on your own requirements
            gtag('consent', 'default', {
                'ad_storage': 'denied',
                'ad_user_data': 'denied',
                'ad_personalization': 'denied',
                'analytics_storage': '@(consentFeature.HasConsent ? "granted" : "denied")',
            });
        </script>
        
        <!-- Google Tag Manager -->
        <script asp-add-nonce="true">
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
                var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;
                j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
                j.setAttribute('nonce','@CspNonceService.GetNonce()');
                f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','@scriptConfig.GTM');</script>
        <!-- End Google Tag Manager -->
    }
    @if (!string.IsNullOrEmpty(scriptConfig.Clarity))
    {
        <!-- Clarity -->
        <script type="text/javascript" asp-add-nonce="true">
            (function(c,l,a,r,i,t,y){
                c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)}; 
                t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
                y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
            })(window, document, "clarity", "script", "@scriptConfig.Clarity");

            (function () {
                window.clarity('consent', @(consentFeature.CanTrack.ToString().ToLower()));
            }());
        </script>
        <!-- End Clarity -->
    }
    <!-- Begin ShareThis -->
    <script type="text/javascript" asp-add-nonce="true" src="https://platform-api.sharethis.com/js/sharethis.js#property=@scriptConfig.ShareThis&product=inline-share-buttons&source=platform" async="async"></script>
    <!-- End ShareThis -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @config.ServiceName</title>
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.svg"/>
    @Html.GovUkFrontendStyleImports(appendVersion: true)
    <link rel="stylesheet" href="~/css/dfefrontend.css" asp-append-version="@scriptConfig.AddCssVersion"/>
    <link rel="stylesheet" href="~/css/application.css" asp-append-version="@scriptConfig.AddCssVersion"/>
    <link rel="stylesheet" href="~/css/metadata.css" asp-append-version="@scriptConfig.AddCssVersion"/>
    <link rel="stylesheet" href="~/css/navigation.css" asp-append-version="@scriptConfig.AddCssVersion"/>
    <link rel="stylesheet" href="~/css/cta.css" asp-append-version="@scriptConfig.AddCssVersion" />
</head>

<body class="govuk-template__body">
@if (WebHostEnvironment.IsEnvironment("Test") && !string.IsNullOrEmpty(scriptConfig.GTM))
{
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe title="GTM" src="https://www.googletagmanager.com/ns.html?id=@scriptConfig.GTM"
                height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
}
@Html.GovUkFrontendJsEnabledScript(CspNonceService.GetNonce())
<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
@{
    await Html.RenderPartialAsync("_Header", config);
}


@await RenderSectionAsync("BeforeContent", required: false)



@if (IsSectionDefined("BeforeGDSContent"))

{
    <section class="dfe-page-grey">
        <div class="govuk-width-container" id="main-header-container">
            @await RenderSectionAsync("BeforeGDSContent", required: false)
        </div>
    </section>
}

<div class="govuk-width-container @ViewBag.ContainerClasses" id="main-content-container">
    @await RenderSectionAsync("BeforeContent", required: false)
    <main class="govuk-main-wrapper @ViewBag.MainClasses" id="main-content" role="main" lang="@ViewBag.MainLang">
        @RenderBody()
    </main>
</div>
@if (IsSectionDefined("AfterGDSContent"))
{
    <section class="dfe-page-grey">
        <div class="govuk-width-container">
            @await RenderSectionAsync("AfterGDSContent")
        </div>
    </section>
}

@{
    await Html.RenderPartialAsync("_Footer", config);
}

@await RenderSectionAsync("Scripts", false)
@Html.GovUkFrontendScriptImports(CspNonceService.GetNonce(), true)
</body>

</html>