@using System.Globalization
@model CareLeavers.Web.Models.Content.Page

@if (Model.ShowLastUpdated)
{
    var languageCode = Context.Request.RouteValues["languageCode"]?.ToString();
    var slug = Model.Slug;

    <div class="govuk-grid-row" id="last-updated">
        <div class="metadata-logo-wrapper">
            <div class="govuk-grid-column-two-thirds metadata-column">
                <hr class="govuk-section-break govuk-section-break--visible">
                <div class="gem-c-metadata" data-module="gem-toggle metadata">
                    <dl class="gem-c-metadata__list">
                        <dt class="gem-c-metadata__term">From:</dt>
                        <dd class="gem-c-metadata__definition notranslate">
                            <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>
                        </dd>
                        <dt class="gem-c-metadata__term print-only">Page:</dt>
                        <dd class="gem-c-metadata__definition print-only">@Model.Title</dd>
                        <dt class="gem-c-metadata__term print-only">URL:</dt>
                        <dd class="gem-c-metadata__definition print-only">@Url.Action(
                                                                                            action: "GetContent",
                                                                                            controller: "Contentful",
                                                                                            protocol: "https",
                                                                                            values: new { slug, languageCode })</dd>
                        <dt class="gem-c-metadata__term">Published:</dt>
                        <dd class="gem-c-metadata__definition">@Model.Sys.CreatedAt?.ToString("d MMMM yyyy", DateTimeFormatInfo.InvariantInfo)</dd>
                        <dt class="gem-c-metadata__term">Last updated:</dt>
                        <dd class="gem-c-metadata__definition">
                            @Model.Sys.UpdatedAt?.ToString("d MMMM yyyy", DateTimeFormatInfo.InvariantInfo)
                        </dd>
                    </dl>
                </div>
                @if (Model.ShowShareLinks)
                {
                    <partial name="PrintThisPage" model="@Model"/>
                }
            </div>
        </div>
    </div>
}
