@using CareLeavers.Web.Contentful
@model CareLeavers.Web.Models.ViewModels.ConfigViewModel
@inject IContentService ContentService

@{
    string currentPage = ViewContext.RouteData.Values["slug"]?.ToString() ?? string.Empty;
    var languageCode = Context.Request.RouteValues["languageCode"]?.ToString();
    var breadcrumbs = await ContentService.GetBreadcrumbs(currentPage, false);
}

<section aria-label="Service information" class="govuk-service-navigation"
         data-module="govuk-service-navigation">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
            <span class="govuk-service-navigation__service-name">
                <a href="@Url.Action("GetContent", "Contentful", values: new { slug = Model.ContentfulConfiguration.HomePage?.Slug, languageCode})" class="govuk-service-navigation__link">
                    @Model.ContentfulConfiguration.ServiceName
                </a>
            </span>
            <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
                    Menu
                </button>
                <ul class="govuk-service-navigation__list" id="navigation">
                    @foreach (var link in Model.ContentfulConfiguration.Navigation)
                    {
                        if (link.Slug == currentPage || breadcrumbs.Exists(b => b.Slug == link.Slug))
                        {
                            <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
                                <a class="govuk-service-navigation__link" href="@Url.Action("GetContent", "Contentful", new { slug = link.Slug, languageCode = Model.Language.Code })" aria-current="true">
                                    <strong class="govuk-service-navigation__active-fallback">@link.Title</strong>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="govuk-service-navigation__item">
                                <a class="govuk-service-navigation__link" href="@Url.Action("GetContent", "Contentful", new { slug = link.Slug, languageCode = Model.Language.Code })">
                                    @link.Title
                                </a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</section>