@using CareLeavers.Web.Contentful
@model CareLeavers.Web.Models.Content.StatusChecker
@inject IHttpContextAccessor HttpContextAccessor;
@inject IContentService ContentService
@{
    var checker = await ContentService.Hydrate(Model);
    var languageCode = HttpContextAccessor.HttpContext?.Request.RouteValues["languageCode"]?.ToString();
    HttpContextAccessor.HttpContext?.Request.Query.TryGetValue("errorMessage", out var errorMessage);
}
<form method="post" action="/statuschecker" novalidate>
    <input type="hidden" name="CheckerId" id="CheckerId" value="@checker?.Sys?.Id"/>
    <input type="hidden" name="LanguageCode" id="LanguageCode" value="@languageCode"/>
    <div class="govuk-form-group @(errorMessage.Any() ? "govuk-form-group--error" : "")">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="answers-error">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-fieldset__heading">
                    @checker?.InitialQuestion
                </h2>
            </legend>
            @if (errorMessage.Any())
            {
                <p id="answers-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> @errorMessage.First()
                </p>
            }
            @if (checker?.Answers != null)
            {
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    @foreach (var answer in checker.Answers)
                    {
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="@answer.Sys.Id" name="Answers" type="checkbox" value="@answer.Sys.Id" aria-describedby="@answer.Sys.Id-hint">
                            <label class="govuk-label govuk-checkboxes__label" for="@answer.Sys.Id">
                                @answer.Answer
                            </label>
                            @if (!string.IsNullOrEmpty(answer.Description))
                            {
                                <div id="@answer.Sys.Id-hint" class="govuk-hint govuk-checkboxes__hint">
                                    @answer.Description
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        </fieldset>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
    </button>

    
</form>


    
   

