@using CareLeavers.Web.Configuration

@inject IContentfulConfiguration ContentfulConfiguration

@model CareLeavers.Web.Models.Content.Page

@{
    var config = await ContentfulConfiguration.GetConfiguration();
    var languageCode = Context.Request.RouteValues["languageCode"]?.ToString();

    ViewBag.Title = Model.Title ?? $"Accessibility statement for " + config.ServiceName;
    Layout = "_Layout";
}
@section Head
{
    <meta property="og:site_name" content="@config.ServiceName"/>
    <meta property="og:title" content="@ViewBag.Title"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="@Url.Action(
                                         action: "AccessibilityStatement",
                                         controller: "Pages",
                                         protocol: "https",
                                         values: new { languageCode }
                                     )"/>

    <meta property="og:locale" content="en_GB"/>
    <link rel="canonical" href="@Url.Action(
                                    action: "AccessibilityStatement",
                                    controller: "Pages",
                                    protocol: "https",
                                    values: new { languageCode = "en" }
                                )"/>
}

@section BeforeGDSContent
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @await Html.PartialAsync("_TranslationNotificationBanner")
            <h1 class="govuk-heading-xl">
                @ViewBag.Title
            </h1>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.MainContent is not null && Model.MainContent.Content.Any())
        {
            <gds-contentful-rich-text document="@Model.MainContent"></gds-contentful-rich-text>
        }
        else
        {
            <gds-contentful-rich-text document="@config.AccessibilityStatement"></gds-contentful-rich-text>
        }
    </div>
</div>

