@using CareLeavers.Web.Configuration
@using Contentful.Core.Models

@inject IContentfulConfiguration ContentfulConfiguration
@model CareLeavers.Web.Models.Content.Page

@{
    var config = await ContentfulConfiguration.GetConfiguration();
    var languageCode = Context.Request.RouteValues["languageCode"]?.ToString();

    ViewBag.Title = Model.Title ?? "Privacy policies";
    Layout = "_Layout";
}

@section Head
{
    <meta property="og:site_name" content="@config.ServiceName"/>
    <meta property="og:title" content="@ViewBag.Title"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="@Url.Action(
                                         action: "PrivacyPolicies",
                                         controller: "Pages",
                                         protocol: "https",
                                         values: new { languageCode }
                                     )"/>

    <meta property="og:locale" content="en_GB"/>
    <link rel="canonical" href="@Url.Action(
                                    action: "PrivacyPolicies",
                                    controller: "Pages",
                                    protocol: "https",
                                    values: new { languageCode = "en" }
                                )"/>
}

@section BeforeGDSContent
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @await Html.PartialAsync("_TranslationNotificationBanner")
            <h1 class="govuk-heading-xl">
                @ViewBag.Title
            </h1>
        </div>
    </div>
}

@if (Model.MainContent is not null && Model.MainContent.Content.Any())
{
    <gds-contentful-rich-text document="@Model.MainContent"/>
}
else
{
    <p class="govuk-body">
        This work is being carried out by the Department for Education (DfE).
    </p>
    <p class="govuk-body">
        For the purpose of data protection legislation, the DfE is the data controller for the personal data processed as part of the @config.ServiceName website.
    </p>
    <p class="govuk-body">
        To find out how DfE collects, uses and stores personal data, see:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>
        <a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-members-of-the-public/privacy-information-members-of-the-public">
            Privacy information: members of the public
        </a>
    </ul>
}