@using CareLeavers.Web.Models.Content
@model CareLeavers.Web.Models.Content.PrintableCollection

@{
    Layout = "_PrintLayout";
    ViewBag.Title = Model.Title;
}

<tr>
    <td class="collection-page-content first-page">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-xl print-collection-title">@Model.Title</h2>
                    <div class="print-collection-summary">
                        <gds-contentful-rich-text document="Model.Summary"
                                                  larger-text="true"></gds-contentful-rich-text>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>

<tr>
    <td class="collection-page-content">
        <div class="govuk-width-container collection-page-content-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div
                        class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-8">
                        <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link"
                                id="print-link-top">Print this page
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>

@foreach (Page collectionPage in Model.Content)
{
    collectionPage.ShowLastUpdated = true;
    collectionPage.ShowPrintButton = false;

    <tr>
        <th class="dfe-page-grey collection-page-header">
            <div class="govuk-width-container collection-page-header-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl">@collectionPage.Title</h1>

                        @if (collectionPage.Header is not null)
                        {
                            <gds-contentful-rich-text document="@collectionPage.Header"
                                                      larger-text="true"></gds-contentful-rich-text>
                        }
                    </div>
                </div>
            </div>
        </th>
    </tr>

    <tr>
        <td class="collection-page-content">
            <div class="govuk-width-container collection-page-content-container">
                <main class="govuk-main-wrapper">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            @if (collectionPage.ShowContentsBlock)
                            {
                                <gds-contentful-contents document="@collectionPage.MainContent"
                                                         levels="@collectionPage.ContentsHeadings"/>
                            }
                            <gds-contentful-rich-text document="@collectionPage.MainContent"></gds-contentful-rich-text>
                        </div>

                    </div>
                    @await Html.PartialAsync("LastUpdated", collectionPage)
                </main>
            </div>
        </td>
    </tr>
}

<tr>
    <td class="collection-page-content">
        <div class="govuk-width-container collection-page-content-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div
                        class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-8">
                        <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link"
                                id="print-link-bottom">Print this page
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>

<script asp-add-nonce="true" defer>
    const printPage = () => window.print();
    const addPrintButtonEventListener = () => {
        const printButtonTop = document.getElementById("print-link-top");
        const printButtonBottom = document.getElementById("print-link-bottom");
        if (!printButtonTop || !printButtonBottom) {
            return;
        }
        printButtonTop.addEventListener('click', printPage);
        printButtonBottom.addEventListener('click', printPage);
    }
    addPrintButtonEventListener();
</script>